nav {
  display: flex;
  justify-content: space-around;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: middle;
  border-bottom: 1px solid #a50912;
}

.navbar-item {
  text-decoration: none !important;
  color: #333333;
}

.navbar-item:hover {
  color: #a50912;
}