/**************** RESET **************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**************** FONTS **************/

h1, h2, h3 {
  font-family: 'Slabo 27px', serif;
}

h4, h5, p, li, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 54px;
  margin-bottom: 20px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 30px;
  margin-bottom: 20px;
}

h5 {
  font-size: 28px;
  font-weight: bold;
}

p {
  font-size: 18px;
  line-height: 1.5em;
}

li, a {
  font-size: 18px;
}

button {
  font-size: 16px;
}

/***************** BUTTONS ***********/

.button {
  padding: 10px 20px;
  border-radius: 3px;
  color: #f0f0f0;
  font-family: "Roboto", sans-serif;
}

.primary {
  background-color: #e93f4a;
}

.primary:hover, .secondary:hover {
  background-color: #a50912;
}

.secondary {
  background-color: #fb8f97;
}

.outlined {
  background-color: transparent;
  border: 1px solid #e93f4a;
  color: #e93f4a;
}

.outlined:hover {
  background-color: #a50912;
  color: #f0f0f0;
}

.tag {
  background-color: transparent;
  border: 1px solid #fb8f97;
  border-radius: 20px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  margin: 5px 15px 5px 0;
}

.tag:focus {
  box-shadow: 0 2px 2px 0 #c1c1c1;
}

.tag:hover {
  
}


