/************* JUMBO ************/

.jumbo {
  background-image: url('./data/images/portfolio.jpg');
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbo-title {
  padding: 100px 0 100px 100px;
}

/********* PROJECTS ***********/

.project-pics {
  padding: 10%;
  background-color: #E93F4A;
  margin: 0;
}

/*********** ICONS ************/

.home-icon-section {
  padding: 400px;
}